.idea/workspace.xml

.idea/dictionaries/roeeaharoni.xml

*.png

*.pyc

*.txt

*.txt.evaluation

*.txt.predictions

*.so

.idea/inspectionProfiles/Project_Default.xml

.idea/inspectionProfiles/profiles_settings.xml

*.pyc

src/prepare_sigmorphon_data.pyc

*.*~
