.idea/workspace.xml

.idea/dictionaries/roeeaharoni.xml

*.png

*.pyc

*.txt

*.so

*.evaluation

*.predictions

.idea/inspectionProfiles/Project_Default.xml

.idea/inspectionProfiles/profiles_settings.xml
